{% macro make_workout(username, workout) %}
    <div class="row workout">
        <div class="col-sm-3">{{ workout.date }}</div>
        <select data-name="{{ username }}"
                class="form-control form-control-sm col-sm-3">
            <option {% if workout.state.name == "FAILED" %}
                    selected="selected"
                    {% endif %}>FAILED</option>

            <option {% if workout.state.name == "COMPLETED" %}
                     selected="selected"
                     {% endif %}>COMPLETED</option>

            <option {% if workout.state.name == "LEGIT_EXCUSE" %}
                    selected="selected"
                    {% endif %}>LEGIT_EXCUSE</option>

            <option {% if workout.state.name == "REST_MAKEUP" %}
                    selected="selected"
                    {% endif %}>REST_MAKEUP</option>
        </select>
        <div class="col-sm-6">{{ workout.description }}</div>
    </div>
{% endmacro %}


{% macro make_log(workout_log) %}
    <h1>Today's Training</h1>
    {% for workout in workout_log.get_daily_workouts() %}
        {{ make_workout(workout_log.name, workout) }}
    {% endfor %}

    <h1>Training History</h1>
    {% for workout in workout_log.get_past_workouts() %}
        {{ make_workout(workout_log.name, workout) }}
    {% endfor %}
{% endmacro %}

<!doctype html>
<html>
    <head>
        <title>Triathalon Motivator</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    </head>

    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <center>
                        <h1>Melany</h1>
                        <h5>owes <a href="https://www.meatinstitute.org/">The North American Meat Institute</a></h5>
                        <h1>${{ melany_log.balance }}</h1>
                    </center>

                    {{ make_log(melany_log) }}
                </div>
                <div class="col-md-6">
                    <center>
                        <h1>Lucas</h1>
                        <h5>owes <a href="https://www.avoiceformen.com/">A Voice For Men</a></h5>
                        <h1>${{ lucas_log.balance }}</h1>
                    </center>

                    {{ make_log(lucas_log) }}
                </div>
            </div>
        </div>
    </body>
    <script>
    var fields = document.getElementsByTagName("select");
    for (var i = 0 ; i < fields.length ; i++)
    {
        var field = fields[i];
        field.onchange = function() {
            var params = "date=" + this.parentElement.children[0].textContent + "&"
                       + "description=" + this.parentElement.children[2].textContent + "&"
                       + "state=" + this.value + "&"
                       + "user=" + this.attributes["data-name"].value;
            console.log(params);
            var request = new XMLHttpRequest();
            request.open("POST", "/update_workout", true);
            request.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
            request.send(params);
        }
    }
    </script>
</html>
